body {
	background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stucco%205.jpg);
	background-attachment: fixed;
}

p {
	color: white;
	font-family:'Courier New', Courier, monospace
}

.header-link {
	display: block;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	font-size: larger;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
	text-decoration: none;
	text-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.center-box {
	display: block;
	background-color: rgba(30, 30, 30, 0.5);
	margin: 40px auto;
	padding: 20px;
	padding-top: 5px;
	width: 50%;
	min-width: 475px;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.bullet-link {
	text-decoration-color: wheat;
}